<!doctype html>
<html>
  <head>
    <title>See Posts <%=siteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>See existing posts at <%=siteName%></h1>
    <p>You can check existing posts here.</p>
    <ul>
      <% for (let post of availablePosts) { %>
        <li>
          <li>
            <strong>user: <%= post.Username %></strong><br>
            <strong>topic: <%= post.TopicName %></strong><br>
            post: <%= post.Content %>
          </li>
        </li>
      <% } %>
    </ul>


  </body>
</html>