<!doctype html>
<html>
  <head>
    <title>Welcome to <%=siteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=siteName%></h1>

    <p><a href="AddUser/SignUp">Become a user at <%=siteName%></a></p>
    <p><a href="existing_users">See existing users at <%=siteName%></a></p>
    <p><a href="Add_topic">Add topics at <%=siteName%></a></p>
    <p><a href="existing_topics">See existing topics at <%=siteName%></a></p>
    <p><a href="addNewPost">Add a new post at <%=siteName%></a></p>
    <p><a href="existing_posts">See exisiting posts at <%=siteName%></a></p>
    <p><a href="about">About <%=siteName%></a></p>



  </body>
</html>